:root {
    --notebook-size: 16;
    --div-size-percentage: calc(100% / var(--notebook-size));
    --border-width: 2px;
}

* {
    box-sizing: border-box;
    background-color: rgb(229, 233, 236);
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#container div {
    width: var(--div-size-percentage);
    height: var(--div-size-percentage);
    display: absolute;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    border: var(--border-width) solid rgb(229, 233, 236);
    background-color: whitesmoke;
}

.divList {
    height: 10%;
    width: 10%;
    margin: 0;
    padding: 1;
} 


#button {
    margin: 10px;
    font-size: 38px;
}


/* remove unused code
change background color
change dynamically border-grid
change etch-a-sketch size on page*/