:root {
    --notebook-size: 16;
    --div-size-percentage: calc(100% / var(--notebook-size));
    --border-width: 2px;
    --div-color: whitesmoke;
}

* {
    box-sizing: border-box;
    background-color: rgb(229, 233, 236);
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#container div {
    width: var(--div-size-percentage);
    height: var(--div-size-percentage);
    /* display: flex; */
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    border: var(--border-width) solid rgb(229, 233, 236);
    background-color: var(--div-color);
}

.divList {
    height: 10%;
    width: 10%;
    margin: 0;
    padding: 1;
} 

#new-notebook {
    margin: 0;
    padding: 0;
    font-size: 38px;
    display: inline-block;
    margin: 50px auto;
    border-radius: 10px;
    border-width: 7px;
    border-color: rgb(150, 150, 175);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#remove-grid {
    margin: 0;
    padding: 0;
    font-size: 38px;
    display: inline-block;
    margin:  auto;
    border-radius: 10px;
    border-width: 7px;
    border-color: rgb(150, 150, 175);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#clear-notebook {
    margin: 0;
    padding: 0;
    font-size: 38px;
    display: inline-block;
    margin:  auto;
    border-radius: 10px;
    border-width: 7px;
    border-color: rgb(150, 150, 175);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#eraser {
    margin: 0;
    padding: 0;
    font-size: 38px;
    display: inline-block;
    margin:  auto;
    border-radius: 10px;
    border-width: 7px;
    border-color: rgb(150, 150, 175);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* refactoring: add clear-notebook button functionality */